---
title: Professional Experience
layout: layouts/base.liquid
---

<section class="page-section experienceSection">
  <h1>Professional Experience</h1>
  <span class="text-gray">My Journey So Far</span>
</section>

<div class="content-container timeline-container">
  {% for experience in experience %}
  <div class="timeline-item">
    <div class="card timeline-content">
      <img class="icon" src="/images/{{ experience.icon | default: 'placeholder.png' }}" alt="{{ experience.designation }} logo">
      <div class="title">{{ experience.designation }}</div>
      <div class="date">{{ experience.from }} – {{ experience.to }}</div>
      <div class="company">{{ experience.organization }}</div>
      <div class="description">{{ experience.job_description }}</div>
    </div>
    <div class="timeline-line"></div>
  </div>
  {% endfor %}
</div>